.home_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}
.home_home{
   background-image: url('../../assets/background.jpg');
}
.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro{
    max-width: 540px;
    text-align: center;
    z-index: 1;
}
.home_name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}
.home_socials{
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem;
}
.home_social_link{
    color: var(--title-color);
    font-size: 1.3rem;
    transition: .3s;
}
.home_social_link:hover{
    color:hsl(353,100%,65%);
}
.scroll_down{
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}
.home_scroll-name{
    font-size: var(--small-font-size);
}
.mouse{
    border: 2px solid #454360;
    display: block;
    width: 1.25rem;
    height: 1.6rem;
    margin: auto;
    margin-top: 0.75rem;
    border-radius: 1rem;
    position: relative;
}
@keyframes ani-mouse{
    0%{
        top:29%;
    }
    15%{
        top:50%;
    }
    50%{
        top:50%;
    }
    50%{
        top:29%;
    }
    100%{
        top:29%;
    }

}
.mouse_wrapper{
    cursor: pointer;
}
.wheel{
    background-color: var(--title-color);
    border-radius: 100%;
    width: 0.25rem;
    height: 0.25rem;
    position:absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;
}
.shapes{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.shape{
    position: absolute;
    
}